---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>Hey everyone, and welcome to the blog! My name is James, but you probably know me better as Jdhtitan.</p>
	
	<p>
		I'm a 47-year-old native Tennessean, and I've been lucky enough to call this beautiful state my home 
		for my entire life. If you've ever experienced a Tennessee fall or the bloom of a southern spring, 
		you know exactly why I love it here so much.
	</p>

	<p>
		My fascination with technology started long before most people in my generation even had a home computer. 
		I can still remember the intense curiosity that led me to take apart my first computer at the just seven 
		years old. That spark never faded, and it has grown into a lifelong passion for understanding how things 
		work.
	</p>

	<p>
		Family is the cornerstone of my life. Though my parents have since passed away, their memory is a source 
                of strength. I'm blessed to have a wonderful sibling and a crew of nieces and nephews who always keep life 
		exciting.
	</p>

	<p>
		By day, I have a full-time job, which means my upload and stream schedules might be a bit irregular for 
		now. I appreciate your understanding as I balance my career with this passion project.
	</p>

	<p>
		Most importantly, I want this blog to be a place of curiosity and learning. I truly believe that the 
		only dumb question is the one you don't ask. If there's something you want to know, please, speak up!
		I will always do my best to find the answer you're looking for.
	</p>

	<p>Thanks for stopping by. I'm glad you're here.</p>
</Layout>
