---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello, Pantheoneans!</h1>
			<p>
				Welcome to the official Jdhtitan blog. This sites serves as a place to tell you
                                what I, and the community are up to and allow a sounding board to help me improve
                                my channel, blog, and other aspects of this new endeavor.
			</p>
			<p>
				Today I embark on a new journey where I begin streaming and uploading videos to
				several platforms, as well as, start developing my social media presence.  I look
                                forward to interacting with each of you and hope this is a pleasant experience
                                for all.
			</p>
			<p>Here are a few things to note:</p>
			<ul>
				<li>There is a zero tolerance policy in place for bullying and just being rude or a bad person</li>
				<li>The expectation is that this community will treat each other with respect</li>
				<li>Your comments are seen by everyone, posts that are negative to an individual may be removed</li>
			</ul>
			<p>
				Have fun! If you have any questions ask, and I hope to get to know all of you at least a little.
			</p>
		</main>
		<Footer />
	</body>
</html>
